{% extends 'auth/_Auth.html' %} {% load crispy_forms_filters %} {% load crispy_forms_tags %} {% load static %}
{% block title %}
    ثبت نام
{% endblock %}
{% block content %}
    <div class="d-flex flex-column-fluid flex-lg-row-auto justify-content-center justify-content-lg-end p-12">
        <!--begin::Wrapper-->
        <div class="bg-body d-flex flex-column flex-center rounded-4 w-md-600px p-10">
            <!--begin::Content-->
            <div class="d-flex flex-center flex-column align-items-stretch h-lg-100 w-md-400px">
                <!--begin::Wrapper-->
                <div class="d-flex flex-center flex-column flex-column-fluid pb-15 pb-lg-20">
                    <!--begin::Form-->
                    <form class="form w-100" novalidate="novalidate" id="kt_sign_up_form" data-kt-redirect-url=""
                          action="#">
                        {% if messages and request.session.verify_phone %}
                            {% for item in messages %}
                                <p class="text-center text-success justify-content-center">{{ item }}</p>
                            {% endfor %}
                        {% endif %} {% if form.non_field_errors %}
                        {% for item in form.non_field_errors %}
                            <p class="text-center text-danger justify-content-center">{{ item|safe }}</p>
                        {% endfor %}
                    {% endif %} {% csrf_token %}

                        <!--begin::Heading-->
                        <div class="text-center mb-11">
                            <!--begin::Title-->
                            <h1 class="text-dark fw-bolder mb-3">ثبت نام</h1>
                            <!--end::Title-->
                        </div>
                        <!--begin::Heading-->
                        <!--begin::Login options-->
                        <div class="row g-3 mb-9">
                            <!--begin::Col-->
                            <div class="col-md-6">
                                <!--begin::گوگل link=-->
                                <a href="#"
                                   class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100">
                                    <img alt="Logo" src="{% static 'media/svg/brand-logos/google-icon.svg' %}"
                                         class="h-15px me-3"/>ورود از طریق گوگل</a>
                                <!--end::گوگل link=-->
                            </div>
                            <!--end::Col-->
                            <!--begin::Col-->
                            <div class="col-md-6">
                                <!--begin::گوگل link=-->
                                <a href="#"
                                   class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100">
                                    <img alt="Logo" src="{% static 'media/svg/brand-logos/apple-black.svg' %}"
                                         class="theme-light-show h-15px me-3"/>
                                    <img alt="Logo" src="{% static 'media/svg/brand-logos/apple-black-dark.svg' %}"
                                         class="theme-dark-show h-15px me-3"/>با اپلیکیشن وارد شوید</a>
                                <!--end::گوگل link=-->
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Login options-->
                        <!--begin::Separator-->
                        <!--end::Separator-->
                        <!--begin::Input group=-->
                        {% for field in form %}
                            <div class="fv-row mb-8">
                                {{ field|as_crispy_field }} {% if field.help_text %}
                                <p>
                                    <small style="font-size: 14px">{{ field.help_text|safe }}</small>
                                </p>
                            {% endif %} {% if field.errors %}
                                <p>
                                    <small class="text-danger" style="font-size: 14px"
                                           style="color: red">{{ field.errors.0|safe }}</small>
                                </p>
                            {% endif %} {% if field.non_field_errors %}
                                <p>
                                    <small class="text-danger" style="font-size: 20px"
                                           style="color: red">{{ field.non_field_errors.0|safe }}</small>
                                </p>
                            {% endif %}
                            </div>
                        {% endfor %}

                            <!--begin::ثبت button-->
                            <div class="d-grid mb-10">
                                <button type="submit" id="kt_sign_up_submit" class="btn btn-primary">
                                    <!--begin::Indicator label-->
                                    <span class="indicator-label">ثبت نام</span>
                                    <!--end::Indicator label-->
                                    <!--begin::Indicator progress-->
                                    <span class="indicator-progress">لطفا صبر کنید...
											<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                    <!--end::Indicator progress-->
                                </button>
                            </div>
                            <!--end::ثبت button-->
                            <!--begin::ثبت نام-->
                            <div class="text-gray-500 text-center fw-semibold fs-6">از قبل اکانت دارید?
                                <a href="{% url 'login' %}"
                                   class="link-primary fw-semibold">ورود</a></div>
                        <!--end::ثبت نام-->
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Wrapper-->

            </div>
            <!--end::Content-->
        </div>
        <!--end::Wrapper-->
    </div>
{% endblock %}


