{% extends 'admin/_Main.html' %}
{% block title %} لیست کاربران  {% endblock %}

{% block content %}

    <div class="col-lg-12"><div class="card">
        <div class="card-header"><h4 class="card-title">لیست کاربران</h4></div>
        <div class="card-body"><div class="table-responsive"><table class="table table-hover table-responsive-sm">
        <thead><tr>
            <th scope="col">شناسه</th>
            <th scope="col">نام</th>
            <th scope="col">نام خانوادگی</th>
            <th scope="col">شماره موبایل</th>
            <th scope="col">کد ملی</th>
            <th scope="col">تاریخ</th>
            <th scope="col">عملیات</th>
        </tr></thead>
        <tbody>
            {% for item in object_list %}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.first_name | default:'---' }}</td>
                <td>{{ item.last_name | default:'---' }}</td>
                <td>{{ item.phoneNumber | default:'---' }}</td>
                <td>{{ item.national_id | default:'---' }}</td>
                <td>{{ item.jcreated |  default:'---' }}</td>
                <td><div class="d-flex">
                    <a href="{% url 'users-update' item.id %}" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fa fa-pencil"></i></a><a href="{% url 'users-delete' item.id %}" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                    </div></td>
            </tr>
        {% endfor %}
        </tbody>
        </table></div></div>
        </div></div>


{% endblock %}
