{% load static %} {% load acl_tags %}

<div class="deznav">
  <div class="deznav-scroll">
    <div class="dropdown header-profile">
      <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
        <img src="{% static 'images/profile/pic1.jpg' %}" width="20" alt="" />
        <div class="header-info">
          <span class="font-w400 mb-0"> {{ request.user.first_name }} {{ request.user.last_name}}</b></span><small class="text-end font-w400">{{ request.user.phoneNumber }}</small>
        </div>
      </a>
    </div>
    <ul class="metismenu mm-show" id="menu">
      <li><a href="{% url 'dashboard' %}" class="ai-icon" aria-expanded="false"><i class="fa fa-dashboard"></i><span class="nav-text">داشبورد</span></a></li>
      <li>
        <a class="has-arrow ai-icon" aria-expanded="false"><i class="fa fa-user"></i><span class="nav-text">مدیریت کاربران</span></a><ul aria-expanded="false" class="mm-collapse mm-show">
          <li>
            <a href="{% url 'users-list' %}">لیست کاربران</a>
          </li>
          <li>
            <a href="{% url 'users-create' %}">ساخت کاربر جدید</a>
          </li>
        </ul>
      </li>

      <li>
        <a class="has-arrow ai-icon" aria-expanded="false"><i class="fa fa-medkit"></i><span class="nav-text">مدیریت بیمه ها</span></a><ul aria-expanded="false" class="mm-collapse mm-show">
          <li>
            <a href="{% url 'insurance-list' %}">لیست بیمه ها</a>
          </li>
          <li>
            <a href="{% url 'insurance-create' %}">ساخت بیمه جدید</a>
          </li>
        </ul>
      </li>

      <li>
        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false"><i class="flaticon-050-info"></i><span class="nav-text">برنامه ها</span></a><ul aria-expanded="false" class="mm-collapse" style="">
          <li>
            <a href="./app-profile.html">مشخصات</a>
          </li>
          <li>
            <a href="./post-details.html">جزئیات ارسال</a>
          </li>
          </li>
          <li>
            <a href="./app-calender.html">تقویم</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="copyright">
      <p>
        <strong>داشبورد مدیریت رمزارز Boltz</strong>© 2021 All Rights Reserved
      </p>
      <p class="fs-12">
        ساخته شده با<span class="heart"></span>توسط DexignZone
      </p>
    </div>
  </div>
</div>
